<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main-layout">

<th:block th:fragment="common-footer">
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>WinCert Web Framework</strong>
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 0.1.0
        </div>
    </footer>
</th:block>

</html>