<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Smart Enterprise EMS - 평가위원포탈</title>
		<th:block th:include="layout/include-css.html :: css"></th:block>
		<!-- ###################### 각각 페이지 css ###################### -->
		<th:block layout:fragment="contents-css">
		</th:block>
		<!-- //###################### 각각 페이지 css ###################### -->
	</head>

	<body>
		<!-- Preloader -->
		<div class="preloader">
			<div class="preloader-icon"></div>
		</div>
		<!-- ./ Preloader -->

		<!-- Layout wrapper -->
		<div class="layout-wrapper">
			<!-- 상단 메뉴 -->
			<th:block th:include="common/common-head.html :: common-head"></th:block>


			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- 레프트 메뉴 -->
				<th:block th:include="common/common-left.html :: common-left"></th:block>

				<!-- Content body -->
				<div class="content-body">

					<!-- ###################### 각각 페이지 컨텐츠 ###################### -->
					<th:block layout:fragment="body-contents"></th:block>

					<th:block th:include="common/common-footer.html :: common-footer"></th:block>
				</div>
				<!-- /.Content body -->
			</div>

		</div>
		<!-- ./ Layout wrapper -->
	</body>
	<th:block th:include="layout/include-js.html :: js"></th:block>
	<!-- ###################### 각각 페이지 script ###################### -->
	<th:block layout:fragment="contents-script"></th:block>
	<!-- //###################### 각각 페이지 script ###################### -->
</html>