<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main-layout">

<head>
    <th:block layout:fragment="contents-css">
        <!-- 여기에 페이지 CSS 작성 -->
    </th:block>
</head>


<th:block layout:fragment="body-contents" >
    <!-- Content -->
    <div class="content">
        <div class="page-header">
            <div>
                <h3>메인화면</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">메인화면</li>
                    </ol>
                </nav>
            </div>
            <div>
                <div  class="btn bg-white">
                    <span>2020년 04월 10일 11:00:00</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 mb-3 mb-xl-0">
                                <p class="mb-2">공고번호</p>
                                <div class="d-flex align-items-end">
                                    <h2 class="mb-0 line-height-30 font-size-30">2020-022340</h2>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6 mb-5 mb-xl-0">
                                <p class="mb-2">공고명</p>
                                <div class="d-flex align-items-end">
                                    <h2 class="mb-0 line-height-30 font-size-30">남양주도곡초 체육관 증축 무대장치 구매</h2>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-6 mb-2 mb-xl-0">
                                <p class="mb-2">제안서평가업체수</p>
                                <div class="d-flex align-items-end">
                                    <h2 class="mb-0 line-height-30 font-size-30">4</h2>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-6 mb-2 mb-xl-0">
                                <p class="mb-2"></p>
                                <div class="d-flex align-items-end">
                                    <h2 class="mb-0 line-height-30 font-size-30"><button type="button" class="btn btn-success btn-lg" onclick="location.href='index_step01.html';">제안서평가시작</button></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-12">
                <div class="card bg-secondary">
                    <div class="card-body">
                        <h6 class="card-title d-flex justify-content-between">
                            개인정보이용수집동의
                            <small class="opacity-7">내용확인 및 동의</small>
                        </h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="font-size-35">
                                <button type="button" class="btn btn-primary mr-2 mb-2" data-toggle="modal" data-target="#exampleModal">
                                    개인정보이용수집동의 보기
                                </button>

                            </div>
                            <div class="icon-block icon-block-xl icon-block-floating icon-block-outline-white opacity-7">
                                <i class="ti-bar-chart"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card bg-info">
                    <div class="card-body">
                        <h6 class="card-title d-flex justify-content-between">
                            평가위원 위촉 동의 및 보안각서
                            <small class="opacity-7">내용확인 및 동의</small>
                        </h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="font-size-35">
                                <button type="button" class="btn btn-primary mr-2 mb-2" data-toggle="modal" data-target="#exampleModal2">
                                    평가위원 위촉 동의 및 보안각서 보기
                                </button>
                            </div>
                            <div class="icon-block icon-block-xl icon-block-floating icon-block-outline-white opacity-7">
                                <i class="ti-package"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card bg-warning">
                    <div class="card-body">
                        <h6 class="card-title d-flex justify-content-between">
                            청렴서약서
                            <small class="opacity-7">내용확인 및 동의</small>
                        </h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="font-size-35">
                                <button type="button" class="btn btn-primary mr-2 mb-2" data-toggle="modal" data-target="#exampleModal3">
                                    청렴서약서 보기
                                </button>
                            </div>
                            <div class="icon-block icon-block-xl icon-block-floating icon-block-outline-white opacity-7">
                                <i class="ti-user"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">개인정보이용수집동의</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p> 개인정보이용수집동의 보기 내용 </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">동의</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="exampleModal2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">평가위원 위촉 동의 및 보안각서</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p> 평가위원 위촉 동의 및 보안각서 내용 </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">동의</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="exampleModal3">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">청렴서약서</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p> 청렴서약서 내용 </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">동의</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills mb-4" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">평가위원포탈 안내</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">사전 준비사항 안내</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">제안서 평가절차 가이드</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p class="font-weight-bold">Smart Enterprise EMS ?</p>
                        <p>
                            평가위원 평가지원 기능<br />
                            - 공지, 자료실 게시판, 제안 평가 가이드 제공<br />
                            - 입찰공고 기본 정보, 제안 평가 업체 조회<br />
                            - 업체별 제안 자료 조회, 다운로드<br />
                        </p>
                        <p>
                            평가위원 평가기능<br />
                            - 평가위원 개인정보 등 관련 각종 양식 온라인 동의<br />
                            - 업체별 평가 자료 열람, 조회<br />
                            - 제안 평가 업체 평가 배점입력, 수정, 확정여부 확인 및 제출<br />
                        </p>

                        <p class="font-weight-bold">제안서평가시스템은 효율성을 높입니다.</p>
                        <p>①평가위원은제안서를충분히검토한후, [미작성] 버튼을클릭하여사전검토의견서등록팝업화면을엽니다.
                            ②해당업체의사전검토의견서를부문별로작성합니다. (검토의견은한부문당공백을포함하여200글자이상작성해야합니다.)
                        </p>
                        <p>③[저장] 버튼을클릭하면[미작성] 버튼이[작성중] 으로변경됩니다.
                            ④사전검토의견을모두작성한후[의견서제출] 버튼을클릭하여최종제출합니다.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex pl-0 pr-0">
                                    <a href="#">
                                        <figure class="avatar mr-3">
                                            <img th:src="@{/assets/media/image/user/man_avatar1.jpg}" class="rounded-circle" alt="image">
                                        </figure>
                                    </a>
                                    <div class="flex-grow-1">
                                        <div class="d-flex justify-content-between">
                                            <a href="#">
                                                <h6>담당자1</h6>
                                            </a>
                                        </div>
                                        <p>온라인 평가위원은 사전에 공지된 평가장소에서 직접 오셔서 신분확인 후, 평가시스템을 통해 평가 가능합니다.</p>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex pl-0 pr-0">
                                    <a href="#">
                                        <figure class="avatar mr-3">
                                            <img th:src="@{/assets/media/image/user/man_avatar2.jpg}" class="rounded-circle" alt="image">
                                        </figure>
                                    </a>
                                    <div class="flex-grow-1">
                                        <div class="d-flex justify-content-between">
                                            <a href="#">
                                                <h6>담당자1</h6>
                                            </a>
                                        </div>
                                        <p>온라인 평가위원은 사전에 공지된 평가장소에서 직접 오셔서 신분확인 후, 평가시스템을 통해 평가 가능합니다.</p>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex pl-0 pr-0">
                                    <a href="#">
                                        <figure class="avatar mr-3">
                                            <img th:src="@{/assets/media/image/user/man_avatar3.jpg}" class="rounded-circle" alt="image">
                                        </figure>
                                    </a>
                                    <div class="flex-grow-1">
                                        <div class="d-flex justify-content-between">
                                            <a href="#">
                                                <h6>담당자1</h6>
                                            </a>
                                        </div>
                                        <p>온라인 평가위원은 사전에 공지된 평가장소에서 직접 오셔서 신분확인 후, 평가시스템을 통해 평가 가능합니다.</p>
                                    </div>
                                </li>
                                <li class="list-group-item d-flex pl-0 pr-0">
                                    <a href="#">
                                        <figure class="avatar mr-3">
                                            <img th:src="@{/assets/media/image/user/man_avatar4.jpg}" class="rounded-circle" alt="image">
                                        </figure>
                                    </a>
                                    <div class="flex-grow-1">
                                        <div class="d-flex justify-content-between">
                                            <a href="#">
                                                <h6>담당자1</h6>
                                            </a>
                                        </div>
                                        <p>온라인 평가위원은 사전에 공지된 평가장소에서 직접 오셔서 신분확인 후, 평가시스템을 통해 평가 가능합니다.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="accordion" id="accordionExample">
                            <div class="card shadow-none">
                                <div class="card-header" id="headingOne">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        평가사전준비사항확인
                                    </button>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>다양한 업무를 자동 음성 안내기능을 이용함으로써 사람의 업무를 대신하여 자동화함</p>
                                        <p>
                                            타 시스템에 비해 뛰어난 기능(운영중 서비스변경, 분산 및 병렬
                                            환경지원)으로 무정지 고객 서비스 제공
                                            자사 기술력을 보유함으로써 고객요구에 맞는 다양한 커스터마이징
                                            제공 패키지 중심 구축으로 구축기간 단축</p>

                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-none">
                                <div class="card-header" id="headingTwo">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        평가자료사항확인
                                    </button>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>시스템을 이용하여 내부 또는 외부 고객에게 빠른 시간에 동보 안내를 실시</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-none">
                                <div class="card-header" id="headingThree">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        평가수행
                                    </button>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>적은 비용으로 다양한 음성안내 서비스를 운영할 수 있으므로 회사의 이익을 창출함</p>
                                        <p>고품질 서비스로 인한 대고객서비스 만족도 향상</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow-none">
                                <div class="card-header" id="headingFour">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        평가완료 및 제출
                                    </button>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>적은 비용으로 다양한 음성안내 서비스를 운영할 수 있으므로 회사의 이익을 창출함</p>
                                        <p>고품질 서비스로 인한 대고객서비스 만족도 향상</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./ Content -->

</th:block>



<th:block layout:fragment="contents-script" >
    <!-- 여기에 페이지 javascript 작성 -->
    <script th:inline="javascript">

        $(document).ready(function(){

        });
    </script>
</th:block>
</html>
