<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="userInfo">
    <select id="selectUserAll" resultType="com.wincert.framework.dao.user.dto.UserInfoDto">
        SELECT index_no, user_name, user_email
        FROM tb_user_info
    </select>
</mapper>